html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #4e4e4e;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

body {
  text-align: center;
}
h1 {
  margin-top: 0;
}

/* SECTIONS */

.blackSection {
  background-color: #4e4e4e;
  font-family: 'Cormorant Unicase', serif;
  margin-top: 0;
  color: white;
}

.colouredSection {
  background-color: white;
  font-family: 'Cormorant Unicase', serif;
}

/* CONTAINERS */

.top-container {
  width: 100%;
  height: 800px;
}

.about-container {
  width: 100%;
  height: 1000px;
}

.portfolio-container {
  width: 100%;
  height: 900px;
}

.fashion-container {
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
}

/* BOXES */
.box {
  width: 500px;
  height: 130px;
  border-style: solid;
  border-width: 7px;
  border-color: #7bc67b;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -200px;
  opacity: 0.9;
}

.about-box {
  width: 300px;
  height: 330px;
  border-style: solid;
  border-width: 7px;
  border-color: #7bc67b;
  position: absolute;
  margin-top: 200px;
  left: 50%;
  margin-left: -150px;
  opacity: 0.5;
}

.transferable-box {
  width: 350px;
  height: 440px;
  border-style: solid;
  border-width: 7px;
  border-color: #7bc67b;
  position: absolute;
  margin-left: 280px;
  margin-top: 120px;
}

.languages-box {
  width: 350px;
  height: 280px;
  border-style: solid;
  border-width: 7px;
  border-color: #7bc67b;
  position: absolute;
  right: 0;
  margin-right: 230px;
  margin-top: 200px;
}

/* ARROWS */

.arrow {
  position: absolute;
  margin-top: 550px;
  left: 50%;
  margin-left: -12px;
  width: 50px;
  height: 50px;
  color: grey;
}

.arrow:hover {
  color: #7bc67b;
}

.main-arrow-text {
  position: absolute;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: 530px;
  color: white;
  font-family: "Amatic SC", cursive;
}

.main-arrow-text h6 {
  font-size: 1.6rem;
}

.arrow-text {
  position: absolute;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: 20px;
  color: white;
  font-family: "Amatic SC", cursive;
}

.arrow-text h6 {
  font-size: 1.6rem;
}

.about-arrow {
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 40px;
  width: 50px;
  height: 50px;
  color: grey;
}

.about-arrow:hover {
  color: #7bc67b;
}

.brief-arrow {
  margin-bottom: 70px;
  color: white
}

.brief-arrow:hover{
  color: #7bc67b;
}

.back-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 40px;
  margin-top: 40px;
  color: grey;
}

.back-arrow:hover {
  color: #7bc67b;
}
.side-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 170px;
  margin-top: 220px;
  color: grey;
}

.side-arrow:hover {
  color: #7bc67b;
}

.side-arrow-up {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 170px;
  margin-top: 190px;
  color: grey;
}

.side-arrow-up:hover {
  color: #7bc67b;
}

.side-arrow2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 170px;
  margin-top: 360px;
  color: grey;
}

.side-arrow2:hover {
  color: #7bc67b;
}

.fashion-arrow {
  color: grey;
  margin-bottom: 70px;
}

.fashion-arrow:hover {
  color: #7bc67b;
}

#skillsarrowtext{
  margin-top: 540px;
}

#skillsarrow {
  margin-top: 560px;
}

/* TITLES & TEXT */

.title a {
  text-decoration: none;
  color: white;
}

.title a:hover {
  text-decoration: line-through;
  color: grey;
}

.title2 {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -50px;
}

.title2 h2 {
  font-size: 3rem;
  font-family: "Amatic SC", cursive;
  color: white;
}

#name {
  font-family: 'Cormorant Unicase', serif;
  width: 800px;
  height: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -200px;
  z-index: 1000;
}

#name h1 {
  font-size: 8rem;
  color: white;
}

.header h1 {
  padding-top: 20px;
  font-size: 6rem;
}

.description p {
  padding-bottom: 10px;
  font-size: 2rem;
}

#art h6 {
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-family: "Amatic SC", cursive;
}

.art-title {
  color: white;
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;


}

.art-title h1 {
  font-size: 6rem;
}

.art-description {
  position: static;
  padding-top: 100px;
}

.art-description p {
  color: white;
}

.about-name {
  font-family: 'Cormorant Unicase', serif;
  width: 600px;
  height: 200px;
  position: absolute;
  top: 50% left: 50%;
  margin-left: 380px;
}

.about-name h1 {
  font-size: 7rem;
  color: white;
}

.about-name h2 {
  font-family: 'Amatic SC', cursive;
  color: white;
}

.about-para {
  width: 460px;
  height: auto;
  margin: 0 auto;
  padding-top: 240px;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 2.3rem;
}

.about-para p {
  padding-bottom: 20px;
}

.transferable-skills h3{
  font-family: "Amatic SC", cursive;
  font-size: 2.6rem;
}

.other-skills h1 {
  font-size: 5rem;
  margin-bottom: 90px;
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;

}

.transferable-title h2{
  padding-top: 20px;
  position: absolute;
  margin-left: 370px;
  margin-top: 120px;
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  font-weight: bold;
}

.languages-title h2{
  position: absolute;
  width: 200px;
  font-family: "Amatic SC", cursive;
  right:0;
  margin-right: 300px;
  margin-top: 220px;
  font-size: 3rem;
  font-weight: bold;
}

.skills-title {
  position: absolute;
  width: 800px;
  height: 150px;
  left: 50%;
  margin-left: -400px;
  margin-top: 30px;
}

.advanced h1 {
  font-size: 8rem;
}
.medium h1 {
  font-size: 8rem;
}
.beginner h1 {
  font-size: 8rem;
}

/* HEADER, NAV & FOOTER */
.burger {
  position: fixed;
  top: 0;
  right: 22px;
  padding-top: 40px;
  padding-right: 20px;
  color: grey;
}

.burger:hover {
  color: #7bc67b;
}

.iconBar {
  position: fixed;
  width: 400px;
  bottom: 0;
  left: 50%;
  margin-bottom: 30px;
  margin-left: -200px;
  padding-left: 50px;
}

.iconBar a {
  padding-right: 50px;
  font-size: 2rem;
  color: grey;
  text-decoration: none;
}

.iconBar a:hover {
  color: #7bc67b;
  text-decoration: none;
}

.iconBar i:hover {
  color: #7bc67b;
  text-decoration: none;
}

.side-nav {
  height: 100%;
  width: 0;
  display: block;
  text-decoration: none;
  float: right;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  z-index: 1001;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 200px;
  transition: 0.5s;
  font-family: "Amatic SC", cursive;
}

.side-nav a {
  padding: 30px 10px 30px 30px;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  text-decoration: line-through;
  color: grey;
}

.side-nav .btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 3rem;
  background-color: inherit;
  color: white;
  padding: 0;
  border: none;
  text-decoration: none;
}

.btn-close:hover {
  color: #7bc67b;
}
/* MAIN PAGE */

.frame {
  width: 640px;
  height: 360px;
  margin: 50px auto 130px;
  ;
  background-color: white;
}

.project {
  font-family: "Amatic SC", cursive;
  position: absolute;
  left: 100px;
  margin-top: 100px;
}

.project2 {
  font-family: "Amatic SC", cursive;
  position: absolute;
  left: 120px;
  margin-top: 240px;
}

#lifeframe {
  padding-top: 100px;
  margin-bottom: 300px;
}

.links {
  position: relative;
  top: -300px;
  float: right;
  width: 300px;
  margin-right: 200px;
}

.links td {
  padding: 20px 20px 20px 0;
}

.links a {
  color: #385170;
  text-decoration: none;
}

.links a:hover {
  color: #7bc67b;
  text-decoration: none;
}

#link-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 40px;
}

#link-img:hover {
  opacity: 0.5;
}

#fashion .carousel-inner {
  margin-bottom: 30px;
}

#myCarousel2 .carousel-inner {
  margin-bottom: 140px;
}

.carousel-inner {
  margin-bottom: 80px;
}

#carouselPhoto {
  height: 400px;
  margin: 0 auto ;
  /* padding-top: -30px; */
}

#carouselPhotoFashion {
  height: 350px;
  margin: 0 auto;
}

.brief-title {
  font-family: "Amatic SC", cursive;
  padding-bottom: 10px;
}


/* ART PAGE¨ */

#art .carousel-inner {
  margin-top: 60px;
}
/* LIFE PAGE */

#life .carousel-inner {
  margin-top: 60px;
}
/* PHOTOGRAPHY PAGE */

#photography .carousel-inner {
  margin-top: 60px;
}
#photography img{
  margin-top: 80px;
  height: 300px;
}
#photography .row {
  margin: 0 150px;

}
/* ABOUT PAGE */


.languages-skills {
  position: absolute;
  right: 0;
  margin-right: 220px;
  margin-top: 290px;
  font-family: "Amatic SC", cursive;
  font-size: 2.6rem;
}

.languages-skills td {
  width: 150px;
  text-align: left;
}

.transferable-skills {
  position: absolute;
  margin-left: 360px;
  margin-top: 190px;
}

.skills {
  position: relative;
  top: 80px;
  text-align: left;
  width: 400px;
  margin-left: 200px;
}

.education {
  width: 750px;
  position: absolute;
  left: 50%;
  margin-left: -375px;
}

.education-title h1 {
  padding-bottom: 80px;
  font-size: 5rem;
}

.work-title h1 {
  padding-bottom: 50px;
  font-size: 5rem;
}

.education table {
  margin-bottom: 50px;
}

.education-list td {
  margin-left: 40px;
  padding: 10px 40px 10px 20px;
  border-bottom: 1px solid #ddd;
  font-family: "Amatic SC", cursive;
  font-size: 2.2rem;
  text-align: left;

}

.work {
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
}

.work table {
  margin-bottom: 50px;
}

.work-list td {
  padding: 5px 40px 5px 20px;
  border-bottom: 1px solid #ddd;
  font-family: "Amatic SC", cursive;
  font-size: 2.2rem;
  text-align: left;
}

.advanced{
  position: absolute;
  width: 600px;
  height: 150px;
  left: 50%;
  margin-left: -300px;
  margin-top: 120px;
}
.medium{
  position: absolute;
  width: 600px;
  height: 150px;
  left: 50%;
  margin-left: -300px;
  margin-top: 250px;
}
.beginner{
  position: absolute;
  width: 600px;
  height: 150px;
  left: 50%;
  margin-left: -300px;
  margin-top: 380px;
  margin-bottom: 0;
}


.note{
  margin-top: 70px;
  font-family: "Amatic SC", cursive;

}
.bottom {
  font-family: "Amatic SC", cursive;
  margin-bottom: 120px;
}

#logo {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
